html, body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(#1E1380,#0F0940);
    }

h1{
  font-family: Dela Gothic One;
  line-height: 110%;
  font-size: 56px;
  margin: auto;
}

h2{
  font-family: Dela Gothic One;
  line-height: 110%;
  font-size: 44px;
  margin: auto;
}

h3{
  font-family: Dela Gothic One;
  line-height: 110%;
  font-size: 36px;
  margin: auto;
}
h4{
  font-family: Dela Gothic One;
  line-height: 110%;
  font-size: 32px;
  margin: auto;
}
h5{
  font-family: Dela Gothic One;
  line-height: 110%;
  font-size: 26px;
  margin: auto;
}

h6{
  font-family: Dela Gothic One;
  line-height: 110%;
  font-size: 22px;
  margin: auto;
}

p{
  font-family: Poppins;
  line-height: 140%;
}

.navbar-items > a:link, a:visited{
    color:#FCFAFF;
    text-decoration: none;
  }
  
  .navbar-items > a:hover{
    color: #EDFF26;
    text-decoration: none;
  }
  
  .navbar{
    display:flex;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
    font-family: Poppins;
   }
  
  .navbar-logo{
    align-items: center;
    margin-right: 1em;
    text-align: center;
   }
  
  .navbar-items{
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-family: Dela Gothic One;
    color: #FCFAFF;
    text-align: center;
    white-space: nowrap;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    color: #000E52;
    background-color: #EDFF26;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Poppins;
    margin-top: auto;
  }
  
  
  .footer-socialmedia{
    display: flex;
    align-items: center;
  }
  .socmed{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
  }

  @media only screen and (max-width: 1100px) {
    .navbar{
      display: flex;
      flex-direction: column;
    }
    .navbar-items{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    .navbar-login{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  
    .footer{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .footer-socialmedia{
      display: flex;
      justify-content: center;
    }
  
  }